<connectionStrings>
  <add name="ECISPlatform4.1"
       connectionString="User ID=ecis;Password=sa123456; Initial Catalog=ECISPlatform_4.1;Data Source=172.168.1.173;"
       providerName="System.Data.SqlClient" />
  <add name="ECISPlatformInfusion"
       connectionString="User ID=ecis;Password=sa123456; Initial Catalog=ECISPlatform_Infusion;Data Source=172.168.1.173;"
       providerName="System.Data.SqlClient" />
  <add name="ECISPlatformTriage4.1"
       connectionString="User ID=ecis;Password=sa123456; Initial Catalog=ECISPlatform_Triage;Data Source=172.168.1.173;"
       providerName="System.Data.SqlClient" />
  <add name="ECISEMRDB"
       connectionString="User ID=ecis;Password=sa123456; Initial Catalog=EcisEmrDb;Data Source=172.168.1.173;Connection Timeout=30;"
       providerName="System.Data.SqlClient" />
  <add name="ECISPlatform4.1Log"
       connectionString="User ID=ecis;Password=sa123456; Initial Catalog=ECISPlatform_4.1Log;Data Source=172.168.1.173;"
       providerName="System.Data.SqlClient" />

  <!--真实环境-->
  <add name="qlshchisdb" connectionString="Password=mj;User ID=mj;Data Source=172.168.1.25;Initial Catalog=qlshchisdb;Connection Timeout=30;"
    providerName="System.Data.SqlClient" />

  <!--测试环境-->
  <!--<add name="qlshchisdb" connectionString="Password=mj;User ID=mj;Data Source=172.20.3.13;Initial Catalog=qlshchisdb;Connection Timeout=30;"
    providerName="System.Data.SqlClient" />-->

  <!--同步工具-->
  <add name="SourceDB"
       connectionString="User ID=ecis;Password=sa123456; Initial Catalog=HIS_MidBase;Data Source=172.168.1.173;"
       providerName="System.Data.SqlClient" />
  <add name="TargetDB"
       connectionString="User ID=ecis;Password=sa123456; Initial Catalog=ECISPlatform_MidBase;Data Source=172.168.1.173;"
       providerName="System.Data.SqlClient" />
  <!--护理相关的配置Start-->
  <add name="ECISPlatform"
       connectionString="User ID=ecis;Password=sa123456;Initial Catalog=ECISPlatform;Data Source=172.168.1.173;Connection Timeout=30;"
       providerName="System.Data.SqlClient" />
  <add name="ECISPlatformTriage"
       connectionString="User ID=ecis;Password=sa123456;Initial Catalog=ECISPlatform_Triage;Data Source=172.168.1.173;Connection Timeout=30;"
       providerName="System.Data.SqlClient" />
  <!--护理相关的配置End-->
  <add name="ICUMonitoring"
       connectionString="Password=sa123456;User ID=ecis;Data Source=172.168.1.173;Initial Catalog=ICUMonitoringEQPDB;Connection Timeout=30;"
       providerName="System.Data.SqlClient" />
  <!--分诊相关的配置Start-->
  <add name="HISDB"
     connectionString="Password=sa123456;User ID=ecis;Data Source=172.168.1.173;Initial Catalog=TestDB;Connection Timeout=30;"
     providerName="System.Data.SqlClient" />
  <!--分诊相关的配置End-->
  <add name="DBConn"
       connectionString="User ID=ecis;Password=sa123456; Initial Catalog=ECISPlatform_4.1;Data Source=172.168.1.173;"
       providerName="System.Data.SqlClient" />
  <add name="EPSWorkflow"  connectionString="User ID=ecis;Password=sa123456; Initial Catalog=ECISPlatform_WorkFlow;Data Source=172.168.1.173;" providerName="System.Data.SqlClient" />
</connectionStrings>